<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DemoSharedCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DemoToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Share to Note.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE9A19D11A16898800CBD6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDE719B1A141B9A007CD3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDE71B71A141B9A007CD3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDE71CE1A1560EC007CD3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDE71E61A156423007CD3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDE71F01A156423007CD3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
